
:root{
    --background--color:#FFC700;
    --primary-color:#12296c;
}


body{
    font-family: sans-serif ,'Poppins';
    background-color: var(--background--color);
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.2rem;
}

.container-fluid-custom{
    max-width: 1600px;
}
.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}